:root {
  font-family: "Press Start 2P", cursive, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-image: url('./src/assets/feed_animals.webp');
  background-size: cover;
  background-position: center;

  color-scheme: light dark;
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #c48e5c;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  background-color: #fff3e0;
  transition: all 0.2s ease-in-out;
}

li:hover {
  transform: scale(1.05);
}

button {
  padding: 0.6rem 1.2rem;
  background-color: #c48e5c;
  color: white;
  font-family: "Press Start 2P", cursive;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 0.5rem;
  padding: 0.7rem 1.5rem;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

button:hover {
  transform: scale(1.05);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  background-color: #c48e5c;
  opacity: 0.6;
  cursor: not-allowed;
  transform: none;
  filter: blur(0.7px);           
}

@media (max-width: 600px) {
  button {
    font-size: 1rem;
  }
}
